body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar */
.logo {
  color: #0a66c2;
}
.join-now,
.sign-in {
}
.sign-in {
}
.sign-in:hover {
}
.join-now {
}
.join-now:hover {
}
nav * {
}

/* heading */
.feat-text .display-1 {
  width: 392px;
  font-size: 3rem;
  margin: 0 auto;
}
.features {
}
.features h1 {
}

/* features  */
.ft-card {
  font-size: 1.2rem;
  border: 0.5px #f0f0f0 solid;
  border-radius: 5px;
}
.ft-card:hover {
  box-shadow: #f0f0f0 0px 0px 4px 4px;
  border-color: #f0f0f0;
}
.ft-card p {
  margin-bottom: 0;
}
.Person-working {
  height: 240px;
  position: absolute;
  left: 25%;
}

@media screen and (min-width: 800px) {
  at-text .display-1 {
    width: 468px;
    margin: 0;
  }
  .Person-working {
    display: none;
  }
  .features {
    background-image: url("https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4");
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-size: 700px;
  }
  .feat-text {
    width: 500px;
  }
}
